In [6]:
import pandas as pd
import numpy as np

In [9]:
covid = pd.read_csv('Missing_COVID.csv')

In [17]:
valid_entries = covid.count()
total_rows = len(covid.index)
missing_data = total_rows - valid_entries
missing_data

cdc_report_dt                          0
pos_spec_dt                      2331742
onset_dt                         1772698
current_status                         0
sex                                   18
age_group                             94
Race and ethnicity (combined)          6
hosp_yn                                0
icu_yn                                 0
death_yn                               0
medcond_yn                             0
dtype: int64

In [18]:
missing_percentage = missing_data/total_rows * 100
missing_percentage

cdc_report_dt                     0.000000
pos_spec_dt                      63.668353
onset_dt                         48.403623
current_status                    0.000000
sex                               0.000491
age_group                         0.002567
Race and ethnicity (combined)     0.000164
hosp_yn                           0.000000
icu_yn                            0.000000
death_yn                          0.000000
medcond_yn                        0.000000
dtype: float64

In [19]:
missing_data = np.sum(covid.isnull(), axis=1)
num_cols = len(covid.columns)
missing_percentage = missing_data / num_cols * 100

missing_percentage.head()

0    9.090909
1    9.090909
2    0.000000
3    9.090909
4    0.000000
dtype: float64

In [20]:
covid.describe()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
count,3662325,1330583,1889627,3662325,3662307,3662231,3662319,3662325,3662325,3662325,3662325
unique,225,205,243,2,5,10,8,4,4,4,4
top,2020/06/24,2020/04/06,2020/07/06,Laboratory-confirmed case,Female,20 - 29 Years,Unknown,No,Missing,No,Missing
freq,155560,17854,22242,3521190,1850866,684226,1604109,1525755,2312984,1644402,2350907